@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass: rgba(255,255,255,0.06);
  --glass-2: rgba(255,255,255,0.03);
}

html, body, #root { height: 100%; }
body {
  @apply bg-[#050816] text-slate-100 antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass {
  background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
